:root {
  /* light */
    --brand: var(--orange-600);
    --text-1: var(--gray-800);
    --text-2: var(--gray-700);
    --surface-1: var(--white-nearly);
    --surface-2: var(--gray-100);
    --surface-3: var(--gray-200);
    --surface-4: var(--gray-300);
    --surface-shadow: var(--gray-750);
    --shadow-strength: 2%;
}

@media (prefers-color-scheme: dark) {
  :root {
  --brand: var(--orange-400);
  --text-1: var(--gray-300);
  --text-2: var(--gray-400);
  --surface-1: var(--gray-800);
  --surface-2: var(--gray-700);
  --surface-3: var(--gray-600);
  --surface-4: var(--gray-500);
  --surface-shadow: var(--gray-810);
  --shadow-strength: 20%;
  }
}
