---
permalink: assets/css/main.css
---

{% include "src/assets/css/water/variables-light.css" %}
{% include "src/assets/css/water/variables-dark.css" %}
{% include "src/assets/css/water/parts/_base.css" %}
{% include "src/assets/css/water/parts/_code.css" %}
{% include "src/assets/css/water/parts/_core.css" %}
{% include "src/assets/css/water/parts/_forms.css" %}
{% include "src/assets/css/water/parts/_links.css" %}
{% include "src/assets/css/water/parts/_misc.css" %}
{% include "src/assets/css/water/parts/_print.css" %}
{% include "src/assets/css/water/parts/_range.css" %}
{% include "src/assets/css/water/parts/_typography.css" %}
{#
{% include "src/assets/css/open-props/open-props.css" %}
{% include "src/assets/css/open-props/normalize.css" %}
{% include "src/assets/css/open-props/buttons.css" %} #}
{# {% include "src/assets/css/fonts.css" %}
{% include "src/assets/css/custom-properties.css" %}
{% include "src/assets/css/normalize.css" %}
{% include "src/assets/css/base.css" %}
{% include "src/assets/css/layout.css" %}
{% include "src/assets/css/main-nav.css" %}
{% include "src/assets/css/siteheader.css" %}
{% include "src/assets/css/sitefooter.css" %}
{% include "src/assets/css/utilities.css" %} #}