body {
  width: var(--body-width);
  padding: calc(var(--space) * 4);
  margin: 0 auto;
  background: #fff;
  box-shadow: var(--box-shadow-1);
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  color: #000;
}

.btn {
  color: var(--primary-text-color);
  border-radius: var(--btn-border-radius);
  text-transform: var(--btn-text-transform);
  font-size: var(--btn-font-size);
  font-weight: var(--btn-font-weight);
  padding: var(--btn-padding);
}

.youtube-embed {
  aspect-ratio: 16 / 9;
  margin-bottom: var(--space-8);
}
