.main-nav {
  --mainNavBgCol: var(--gray-300);
  --mainNavItemText: var(--black);
  --mainNavItemBgCol: var(--white);
  --inactiveNavBgHover: var(--grey-base);
  --activeNavBG: var(--red-600);
  --activeNavText: var(--white);

  &, .container {background-color: var(--mainNavBgCol);}


  ul {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-2);
    padding-inline: var(--space-1);

  }

  li {
    color: var(--mainNavItemText);
    background-color: var(--mainNavItemBgCol);
    text-transform: capitalize;

    &:first-of-type {
      margin-right: auto;
    }

  }

  a {
    display: inline-block;
    color: currentColor;
    text-decoration: none;
    padding: var(--space-1);

    &:hover,
    &:focus {
      background-color: var(--inactiveNavBgHover);
    }
  }

  a.active {
    background-color: var(--activeNavBG);
    color: var(--activeNavText);
    font-weight: 700;
  }
}
