*,
*:after,
*:before {
  box-sizing: border-box;
}

:where(html) {
  -webkit-text-size-adjust: none;
  color-scheme: dark light;
  tab-size: 2;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

:where(body) {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
  min-height: 100vh;
  margin: 0;
  font-size: 1rem;
  color: var(--text-1);
  font-family: var(--body-family);
}

:where(main) {
  width: var(--content-width);
  margin: 0 auto;
}
/* === Formulare === */
/* :where(button) {
	all: unset;
} */

input:not([type='checkbox']):not([type='radio']),
input[type='range'],
select,
button,
textarea {
  -webkit-appearance: none;
}

:where(input, button, textarea, select) {
  font: inherit;
  color: inherit;
}

:where(textarea) {
  resize: vertical;
  resize: block;
  margin-right: 0;
}

textarea:not([cols]) {
  width: 100%;
}

textarea:not([rows]) {
  min-height: 40px;
  height: 140px;
}

:where(input){
  vertical-align: top;
}

:where(label){
  vertical-align: middle;
  margin-bottom: var(--space-05);
}

input:where([type='submit'],[type='reset'],[type='button'],[type='checkbox'],[type='range'],[type='radio']) {
  cursor:pointer;
}

:where(button, label, select, summary,[role='button'], [role='option']) {
  cursor: pointer;
}

:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

:where(label:has(> input:disabled), label:has(+ input:disabled)) {
  cursor: not-allowed;
  opacity: 0.7;
}

:where(input, select, label, textarea) {
  display: block;
}

:where([type="checkbox"], [type="radio"]) {
  display: initial;
  height: 1em;
  width: 1em;
}

:where([type="radio"]) {
  border-radius: 100%;
}

:where(input, button, textarea, select){
  background: var(--surface-1);
  color: var(--text-1);
  font-family: inherit;
  font-size: inherit;
  margin-right: var(--space-1);
  margin-bottom: var(--space-1);
  padding: var(--space-1) var(--space-2);
  border: var(--border-1);
  border-radius: var(--small-radius);
}

:where(button, [type="submit"], [type="reset"], [type="button"]) {
  padding-inline: var(--space-2);
  background: var(--button-bg);
  color: var(--button-text);

  &:hover, &:focus {
    background: var(--button-bg-hover);
  }
}

:where(select){
  background-color: var(--surface-1);
}
:where(select::-ms-expand) {
  display: none;
}

:where(select[multiple]) {
  padding-right: var(--space-2);
  overflow-y: auto;
}


:where(input,select,button,textarea):focus {
  box-shadow: 0 0 0 2px var(--surface-shadow);
}

:where(input[type='checkbox'],input[type='radio'],input[type='submit'],input[type='reset'],input[type='button'],input[type='range'],button):active {
  transform: translateY(2px);
}

:where(::placeholder) {
  color: var(--form-placeholder);
}

:where(fieldset) {
  border: var(--border-1);
  border-radius: var(--small-radius);
  margin: 0 0 var(--space-2) 0;
  padding: var(--space-2);
}

:where(legend) {
  font-size: 0.9em;
  font-weight: var(--bold-weight);
  padding-inline: var(--space-2);
}

/* ========== */
:where(a) {
  color: currentColor;
  text-underline-offset: 0.2ex;

  &:hover, &:focus {
    text-decoration: none;
  }
}

/*
    barrierefreies Entfernen der Marker, auch für Voice Over
    https://matuzo.at/blog/2023/removing-list-styles-without-affecting-semantics
*/
:where(ul, ol)[class],
:where(ul, ol)[role="list"] {
  list-style-type: "";
  padding-left: 0;

  li::marker {
    display: none;
  }
}

/* ==== Medien ==== */

:where(img, svg, video, canvas, audio, iframe, embed, object) {
  display: block;
}

:where(img, picture, svg, video) {
  max-width: 100%;
  height: auto;
}

/* SVG's without a fill attribute */
:where(svg):where(:not([fill])) {
  /* Remove fill and set stroke colour to the inherited font colour */
  stroke: currentColor;
  fill: none;
  /* Rounded stroke */
  stroke-linecap: round;
  stroke-linejoin: round;
}

/* Set a size for SVG's without a width attribute */
/* :where(svg):where(:not([width])) {
	inline-size: 5rem;
} */


/* ==== Headlines ======= */

:where(h1, h2, h3, h4, h5, h6) {
  text-wrap: balance;
  overflow-wrap: break-word;
  /* auch für p??? */
}

/* ================ */

:where(hr) {
  border: none;
  border-block-start: 1px solid;
  color: inherit;
  block-size: 0;
  overflow: visible;
}

/* ================ */

:where(code, samp, time, kbd) {
  background: var(--surface-1);
  color: var(--text-1);
  padding: var(--space-05) var(--space-1);
  border-radius: var(--small-radius);
  font-size: 1em;
}

:where(pre > code) {
  padding: var(--space-2);
  display: block;
  overflow-x: auto;
}

:where(var) {
  color: var(--variable);
  font-style: normal;
  font-family: var(--mono-family);
}

:where(kbd) {
  padding: var(--space-1);
  border: var(--border-1);
}

/* ================ */

:where(:focus-visible) {
  outline: 3px solid CanvasText;
  box-shadow: 0 0 0 5px Canvas;
  outline-offset: 1px;
}

:where(:focus-visible, :target) {
  scroll-margin-block: 8vh;
}

/* ===== .visually-hidden ===== */
:where(.visually-hidden:not(:focus-within, :active)) {
  clip-path: inset(50%) !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden !important;
  position: absolute !important;
  white-space: nowrap !important;
  border: 0 !important;
}

/* ============ prefers-reduced-motion ======================= */

@media (prefers-reduced-motion: no-preference) {
  :where(html:focus-within) {
    scroll-behavior: smooth;
  }
}

/*
Remove decorative motion for users who don’t want them. [...] The one thing of note here is that these don’t set transitions and animations to none, rather they shorten the durations a super short interval. This way, they’re impossible to perceive, but they still run; browser events like transitionend will fire as normal and any code depending on those events won’t break.

https://keithjgrant.com/posts/2024/01/my-css-resets/

*/
@media (prefers-reduced-motion: reduce) {

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
