<header class="main-nav no-print">
  <nav
    class="container" aria-label="Hauptnavigation">
    {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
    <ul class="nav">
      {%- for entry in collections.all | eleventyNavigation %}
        <li>
          <a {% if entry.url == page.url or entry.key == category %} class="active{% endif %}" href="{{ entry.url | url }}">
            {{ entry.title }}
          </a>
        </li>
      {%- endfor %}
    </ul>
  </nav>
</header>